services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.5
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - ./volumes/etcd:/etcd
    command: etcd --advertise-client-urls=http://0.0.0.0:2379 --listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
    restart: unless-stopped

  minio:
    image: minio/minio:RELEASE.2023-09-23T03-47-50Z
    ports:
      - "9002:9000"
      - "9003:9001"
    volumes:
      - ./volumes/minio:/data
    environment:
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
    command: server /data --console-address ":9001"
    restart: unless-stopped

  milvus:
    image: milvusdb/milvus:v2.6.8
    ports:
      - "19531:19530"
      - "9092:9091"
    volumes:
      - ./volumes/milvus:/var/lib/milvus
    environment:
      - ETCD_ENDPOINTS=etcd:2379
      - MINIO_ADDRESS=minio:9000
    depends_on:
      - etcd
      - minio
    restart: unless-stopped
    command: [ "milvus", "run", "standalone" ]

  attu:
    image: zilliz/attu:v2.6
    environment:
      MILVUS_URL: milvus:19530
    ports:
      - "8002:3000"
    depends_on:
      - "milvus"
